{% extends "chefs_apprentice/base.html" %}
{% block content%}
  <h1>About Page</h1>

  <article class="media content-section">

    <div class="container">
      <p>Everyday thousands of norwegians go hungry because they dont know what to make for dinner. At the same time they throw away tons of unused ingredients.</p>
      <p><b>Chef´s Apprentice</b> is here to set an end to this. With certified chefs constantly producing new and delicious recipies and giving the user the option to search for recipies by available ingredients, Chef´s Apprentic will help yopu plan your meals and use all of your ingredients.</p>
    </div>
  </div>
{% endblock content %}
