{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="{% static 'chefs_apprentice/main.css' %}">
      <title>{% block title %}Chef's Apprentice{% endblock %}</title>
  </head>
  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="{% url 'chef-home' %}">Chef´s Apprentice</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{% url 'chef-home' %}">Home</a>
              <a class="nav-item nav-link" href="{% url 'chef-about' %}">About</a>


            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                <div class="dropdown">
                  <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
                    <div class="dropdown-content">
                    <a href="{% url 'downloadedrecipes' %}">Downloaded recipes</a>
                     <a href="{% url 'favoriterecipes'%}">Favorite recipes</a>
                     <a href="{% url 'myrecipes' %}">My recipes</a>
                 </div>
               </div>
              {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                  {{ message }}
                </div>
            {% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
        </div>
        {% if request.path == "/" %}
          <div class="col-md-4">
            <h1>Search</h1>
            {% if request.user.is_authenticated %} <!-- skjuler sokefelt naar bruker ikke innlogget-->
              <!-- <div class="content-section"> -->
                <!-- <form id="searchfield" method='GET' action =''>
                  <input type ='text' name = 'q' placeholder ='Search recipes' value='{{ request.GET.q}}' />
                  <input type='submit' value ='Search'class="button"/>
                </form> -->
                <form id="searchfield" method='GET' action ='' class="form-inline md-form mr-auto mb-4">
                  <input id="titleField" class="form-control mr-sm-2" type ='text' name = 'q' placeholder ='Search recipes' aria-label="Search" value='{{ request.GET.q}}' />
                  <button class="btn btn-rounded btn-mr-sm-2" type="submit">Search</button>
                </form>
                <!-- <form class="form-inline md-form mr-auto mb-4" id="searchfield" method='GET' action =''>
                  <input class="form-control mr-sm-2" type="text" name ='q' placeholder="Search recipes" aria-label="Search" value='{{ request.GET.q}' />
                  <button class="btn btn-rounded btn-sm my-0" type="submit">Search</button>
                </form> -->

                <form id="searchfield_i" method='GET' action ='' class="form-inline md-form mr-auto mb-4">
                  <input id="ingredientsField" class="form-control mr-sm-2" type ='text' name = 'q_i' placeholder ='Add ingredients' aria-label="Search" value='{{ request.GET.q_i }}' />
                  <input class="btn btn-rounded btn-mr-sm-2" type="submit" name = "addIngredient" value="Add"/>
                  <!-- <input type='submit' value ='Search'class="button"/> -->
                  <input id="resetbtn" type='submit' name="reset" value ='Reset' class="btn" onclick="ingredientsField.value='', titleField.value='', textboxfield.value=''" />

                </form>
                <body>
                  <textarea id= "textboxfield" name="ingredientsBox"rows="2" cols="40", readonly="readonly">
                    {% if current_ingredients %}
                      {% for i in current_ingredients %}
                            {{ i }}
                      {% endfor %}
                    {% endif %}
                  </textarea>
                </body>
                <form id="search_ingredient" method='GET' action ='' class="form-inline md-form mr-auto mb-4">
                   <button type='submit' name="search_ingredient" value ='Search'class="btn">Search</button>
                </form>


                <label for="sortBy">Sort by: </label>
                  <select id="dropdown" method="GET" form='searchForm', name="sortBy" value='{{ request.GET.sortBy }}'>
                    <option value="none">None</option >
                    <option value="date">Date</option>
                    <option value="y">y</option>
                    <option value="z">z</option>
                  </select>


            <!-- </div> -->
          {% endif %}
          <!-- <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div> -->
        </div>
      </div>
    </main>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  </body>
</html>
