{% extends "chefs_apprentice/base.html" %}
{% block content%}
    <ul class="nav nav-tabs">
      <li class="nav-item"><a class="nav-link" href="{%url 'profile' %}">Profile</a></li>
      <li class="nav-item"><a class="nav-link"  href="{%url 'myrecipes' %}">My Recipes</a></li>
      <li class="nav-item"><a class="nav-link"  href="{%url 'downloadedrecipes' %}">Downloaded Recipes</a></li>
      <li class="nav-item"><a class="nav-link active"  href="#">Favorite Recipes</a></li>
    </ul>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Favorite Recipes</h1>
      <p class="lead">Here you will find every recipe that you have favorized</p>
    </div>

  </div>
{% endblock content %}
