{% extends "chefs_apprentice/base.html" %} <!-- Utvider html koden skrevet i base.html -->
{% block content%}

<div class="container">
  <div class="row">
    <div class="col">
        <h1>Explore Recipes</h1>
    </div>
    <!-- <div class="col">
      <div class="sort">


      <label>Sort by: </label>
        <select name="sortBy" value='{{ request.GET.sortBy }}'>
          <option value="none">None</option >
          <option value="date">Date</option>
          <option value="y">y</option>
          <option value="z">z</option>
        </select>

      </div>

    </div> -->


    </div>
</div>
  {% for recipe in recipies %} <!-- Går gjennom alle oppskrifter i databasen -->
    {% if recipe.visible %} <!-- Hvis oppskriften er satt til visible i databasen -->

      <article class="media recipe-section">

        <div class="container">

          <div class="article-metadata">



            <small>Posted by: <a class="mr-2" href="#">{{ recipe.author }}</a></small>

            <small class="text-muted">{{ recipe.date_posted|date:"F d, Y" }}</small>
            <small class="certification">{% if recipe.author.is_staff %}<i>Certified Chef</i><img class="verified" id="certified" src="static/chefs_apprentice/verified.png" alt="#">{% endif %}</small>

          </div>
          <!-- <div class="content"> -->
          <div class="row">

            <div class="col-sm pt-5">
                <h2><a class="article-title" href="{%url 'view_recipe' recipetitle=recipe.title pk=recipe.pk%}">{{ recipe.title }}</a></h2>
                <!-- <small class="article-content">{{ recipe.description }}</small> -->
                <small class="article-content text-muted"><img class="verified" src="static/chefs_apprentice/spatula.png" alt="#">{{ recipe.get_niva_display }}</small>
                <small class="article-content text-muted"><img class="verified" src="static/chefs_apprentice/time.png" alt="#">{{ recipe.get_tid_display }}</small>
            </div>

            <div class="col-sm">
              <img class="food_image" src="{{ recipe.image.url }}" alt="#">
            </div>
              <!-- <img class="article-img" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2016/howcuttingdo.jpg" height="100px" alt="#"> -->
          </div>

            <!-- </div> -->


        </div>
      </article>
    {% endif %}
  {% endfor  %}
<!-- html for pagination hvis det er flere sider -->

  <div class="pagination">
    <span class="step-links">
        {% if recipies.has_previous %}
            <!-- <a href="?page=1">&laquo; first</a> -->
            <a class="btn btn-rounded-info mb-4" href="?page={{ recipies.previous_page_number }}&q={{ request.GET.q }}">Previous</a>
        {% endif %}

        <!-- <span class="current">
            Page {{ recipies.number }} of {{ recipies.paginator.num_pages }}.
        </span> -->
        {% for num in recipies.paginator.page_range %}
          {% if recipies.number == num %}
            <a class="btn btn-secondary active mb-4" href="?page={{ num }}&q={{ request.GET.q }}">{{ num }}</a>
          {% elif num > recipies.number|add:'-3' and num < recipies.number|add:'3' %}
            <a class="btn btn-rounded-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}

        {% endfor %}

        {% if recipies.has_next %}
            <a class="btn btn-rounded-info mb-4" href="?page={{ recipies.next_page_number }}&q={{ request.GET.q }}">Next</a>
            <!-- <a href="?page={{ recipies.paginator.num_pages }}&q={{ request.GET.q }}">last &raquo;</a> -->
        {% endif %}
    </span>
</div>

{% endblock content %}
