{% extends "chefs_apprentice/base.html" %}
{% block content%}
<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link" href="{%url 'profile' %}">Profile</a></li>
  <li class="nav-item"><a class="nav-link active"  href="#">My Recipes</a></li>
  <!-- <li class="nav-item"><a class="nav-link"  href="{%url 'downloadedrecipes' %}">Downloaded Recipies</a></li>
  <li class="nav-item"><a class="nav-link"  href="{%url 'favoriterecipes' %}">Favorite Recipies</a></li> -->
</ul>
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My Recipes</h1>

    <p class="lead">Here you will find every recipe that you have created</p>
  </div>


</div>
<a id="new-recipe" class="btn btn-mr-sm-2" href="{% url 'recipe-create' %}">New Recipe</a>


  {% for recipe in recipies %}
    {% if request.user == recipe.author %}

      <article class="media recipe-section">


        <div class="container">

          <div class="article-metadata">



            <small>Posted by: <a class="mr-2" href="profile">{{ recipe.author }}</a></small>

            <small class="text-muted">{{ recipe.date_posted|date:"F d, Y" }}</small>
            <small class="certification">{% if recipe.author.is_staff %}<i>Certified Chef</i><img class="verified" id="certified" src="../static/chefs_apprentice/verified.png" alt="#">{% endif %}</small>

          </div>
          <!-- <div class="content"> -->
          <div class="row">

            <div class="col-sm pt-5">
                <h2><a class="article-title" href="{%url 'view_recipe' recipetitle=recipe.title pk=recipe.pk%}">{{ recipe.title }}</a></h2>
                <!-- <small class="article-content">{{ recipe.description }}</small> -->
                <small class="article-content text-muted"><img class="verified" src="../static/chefs_apprentice/spatula.png" alt="#">Enkel</small>
                <small class="article-content text-muted"><img class="verified" src="../static/chefs_apprentice/time.png" alt="#">Under 30 min</small>
            </div>

            <div class="col-sm">
              <img class="food_image" src="{{ recipe.image.url }}" alt="#">
            </div>
              <!-- <img class="article-img" src="https://3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2016/howcuttingdo.jpg" height="100px" alt="#"> -->
          </div>

            <!-- </div> -->


        </div>
      </article>
    {% endif %}
  {% endfor  %}

  <div class="pagination">
    <span class="step-links">
        {% if recipies.has_previous %}
            <!-- <a href="?page=1">&laquo; first</a> -->
            <a class="btn btn-rounded-info mb-4" href="?page={{ recipies.previous_page_number }}&q={{ request.GET.q }}">Previous</a>
        {% endif %}

        <!-- <span class="current">
            Page {{ recipies.number }} of {{ recipies.paginator.num_pages }}.
        </span> -->
        {% for num in recipies.paginator.page_range %}
          {% if recipies.number == num %}
            <a class="btn btn-secondary active mb-4" href="?page={{ num }}&q={{ request.GET.q }}">{{ num }}</a>
          {% elif num > recipies.number|add:'-3' and num < recipies.number|add:'3' %}
            <a class="btn btn-rounded-info mb-4" href="?page={{ num }}">{{ num }}</a>
          {% endif %}

        {% endfor %}

        {% if recipies.has_next %}
            <a class="btn btn-rounded-info mb-4" href="?page={{ recipies.next_page_number }}&q={{ request.GET.q }}">Next</a>
            <!-- <a href="?page={{ recipies.paginator.num_pages }}&q={{ request.GET.q }}">last &raquo;</a> -->
        {% endif %}
    </span>
</div>


{% endblock content %}
<script>
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
</script>
