{% extends "chefs_apprentice/base.html" %}


{% block content%}

      <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <small>Posted by: <a class="mr-2" href="profile">{{ recipe.author }}</a></small>
            <small class="text-muted">{{ recipe.date_posted|date:"F d, Y" }}</small>
            {% if recipe.author == user or user.is_staff %}
              <a  class="btn btn-secondary btn-sm mt-1 mb-2 " href="{% url 'recipe-update' recipe.title recipe.id %}">Update</a>
              <a  class="btn btn-danger btn-sm  mt-1 mb-2 " href="{% url 'recipe-delete' recipe.title recipe.id %}">Delete</a>
            {% endif %}
              <a class="btn btn-secondary btn-sm mt-1 mb-2" href="{% url 'recipe-pdf' recipe.title recipe.id %}">Download</a>
          </div>
          
            <div class="container">

              <div class="row">
                <img class="recipe_image" src="{{ recipe.image.url }}" alt="#">
              </div>


              <h2 class="recipeview-title">{{ recipe.title }}</h2>

              <div class="row">
                <div class="col">
                  <h4 class="r-content"> Ingredienser <hr> </h4>
                  {%for ingredient in ingredients.all%}

                      <p class="ingredients">{{ingredient}}<hr> </p>

                  {%endfor%}
                </div>

                  <div class="col">
                    <h4 class="r-content">Slik gjør du</h4>
                    <p class="recipe_description">{{ recipe.description }}</p>
                  </div>

              </div>

            </div>

          </div>



        </div>
      </article>

{% endblock content %}
