{% extends "chefs_apprentice/base.html" %}
{% load crispy_forms_tags %}
{% block content%}

    <!-- {% block title %}Profile{% endblock %} -->
  <div class="content-section">
    <div class="media">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary"> {{ user.email }}</p>

      </div>

    </div>
    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn">Save changes</button>
    </form>
  </div>
{% endblock content %}
